<nav id="nav"class="navbar navbar-inverse fixed-bottom">
  <div  class="navbar-expand m-auto navbar-text">
    Desarrollado por <a href="www.linkedin.com/in/alejandro-serrano-b82266b0">Alejandro Serrano</a>
    
  </div>
</nav>
