@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


#nav{
   
        position: relative!important;
        right: 0!important;
        bottom: 0!important;
        left: 0!important;
        text-align: center;
        margin-bottom: 0;
        margin-top:10px;
    

      
      
}
