#box{
  height: 70%;
  width: 90%;
  background-color: rgba(169, 169, 169, 0.856);
  border-radius: 5px;
  position: relative;
  padding: 2px 5px 10px 5px;
  
}
#editor{
  height: 400px;
    width: 100%;
}

#red{
    color: red;
}

.all{
    background-color: rgb(184, 184, 184);
    width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 



}



/* DEBUGGER* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

p{
  color: black; 
  padding-left: 10%;
  padding-right: 10%;
}


h2{
  color:blue; padding-left: 10%;
}

ul{
  color: black; padding-left: 12%; padding-right: 10%;
}

h1{
   margin-left: 40%;  width:50%;color: rgb(0, 117, 78);
}

#elemento{
  background-color:tomato; color:white;
}

#center{
  padding-left: 10%; padding-right: 1%; width: 25%;
}

