<div id="all">
  <app-navbar></app-navbar>
  <app-navbar-html></app-navbar-html>

<div id="CCS">
  <h1>Modulo 3: JavaScript</h1>
  <p>JavaScript es uno de los 3 idiomas que todos los desarrolladores web deben aprender:</p>
<ul>
  <li> HTML para definir el contenido de las páginas web</li>
  <li> CSS para especificar el diseño de las páginas web</li>
  <li> JavaScript para programar el comportamiento de las páginas web</li>
</ul>
  <p>JavaScript sirve para darle funcionalidad a nuestras páginas.</p>

  <h2 style="color:blue; padding-left: 10%;">Lección 1: Basico</h2>
  <p> Uno de los muchos métodos HTML de JavaScript es getElementById ().</p>
  <p> JavaScript puede cambiar los valores de los atributos HTML
   Tamien cambia el valor del atributo src (fuente) de una etiqueta <code>{{etJs[0]}}</code> </p>
   <p>Puede ocultar o mostrar elementos HTML</p>

  <div style="padding-left: 10%; padding-right: 1%">
    <div id="box">
      <p> Veremos un ejemplo con cada uno de lo descrito anteriormente: </p>
      <br>
      <p> <button (click)="mostrarB=true;">Intentalo tu!</button></p> 
          <iframe src='https://stackblitz.com/edit/basicojs?embed=1&file=index.html' id='editor' *ngIf="mostrarB"></iframe>
    </div>
  </div>
  <br>
  <p>Posibilidades de visualización de JavaScript. Puede "mostrar" datos de diferentes maneras:</p>
  <ul>
 <li> Escribir en un elemento HTML, usando innerHTML.</li>
 <li> Escribir en el resultado HTML usando document.write ().</li>
 <li> Escribir en un cuadro de alerta, usando window.alert ().</li>
 <li> Escribiendo en la consola del navegador, usando console.log ().</li>
</ul>

<div style="padding-left: 10%; padding-right: 1%">
  <div id="box">
    <p> Utilizando el innerHTML y el console.log: </p>
    <br>
    <p> <button (click)="mostrarB1=true;">Intentalo tu!</button></p> 
        <iframe src='https://stackblitz.com/edit/basicojs1?embed=1&file=index.html' id='editor' *ngIf="mostrarB1"></iframe>
  </div>
</div>

<h2 style="color:blue; padding-left: 10%;">Lección 2: Operadores </h2>
<p> Existen palabras claves que es muy importante tenerlas siempre en cuenta: </p>
<ul>
  <li><code>break</code>: Termina un ciclo </li>
  <li><code>continue</code>: Salta de un bucle y comienza en la parte superior </li>
  <li><code>debugger</code>: Detiene la ejecución de JavaScript y llama (si está disponible) a la función de depuración </li>
  <li><code>do ... While</code>: Ejecuta un bloque de instrucciones y repite el bloque, mientras que una condición es verdadera </li>
  <li><code>for</code>: Marca un bloque de instrucciones que se ejecutarán, siempre que una condición sea verdadera </li>
  <li><code>function</code>: Declarar funciones</li>
  <li><code>if ... else</code>: Marca un bloque de instrucciones para ser ejecutado, dependiendo de una condición</li>
  <li><code>return</code>: El retorno de una función </li>
  <li><code>switch</code>: Marca un bloque de instrucciones para ser ejecutado, dependiendo de los diferentes casos</li>
  <li><code>var</code>: Declarar variables </li>
</ul>
<p>Los operadores comparativos y lógicos son: </p>
<ul>
  <li><code>==</code> Igual a</li>
  <li><code>===</code> Igual valor e igual tipo</li>
  <li><code>!=</code> Distinto a</li>
  <li><code>!==</code> Distinto valor o distinto tipo</li>
  <li><code>></code> Mayor que</li>
  <li><code>{{etJs[1]}}</code> Menor que</li>
  <li><code>>=</code> Mayor o igual a</li>
  <li><code>{{etJs[1]}}=</code> Menor o igual a</li>
  <li><code>&&</code> Operativo lógico Y </li>
  <li><code>||</code> Operativo lógico O </li>
</ul>

<div style="padding-left: 10%; padding-right: 1%">
  <div id="box">
    <p> Veamos como seria al utilizar algunos de estos: </p>
    <br>
    <p> <button (click)="mostrarB1=true;">Intentalo tu!</button></p> 
        <iframe src='https://stackblitz.com/edit/typescript-bfai2c?embed=1&file=index.html' id='editor' *ngIf="mostrarB1"></iframe>
  </div>
</div>
<br>
<h2 style="color:blue; padding-left: 10%;">Lección 3: Funciones</h2>
<p>Una función de JavaScript se define con la palabra clave de <code>function</code>, seguida de un nombre, seguida de paréntesis ().</p>
<p>Los nombres de funciones pueden contener letras, dígitos, etc.</p>
<p>Los paréntesis pueden incluir nombres de parámetros separados por comas:(parámetro1, parámetro2, ...)</p>
<p>El código a ejecutar, por la función, se coloca entre {{etJs[2]}} {{etJs[3]}}</p>
<p>Cuando JavaScript llega a una declaración de retorno, la función dejará de ejecutarse. Si la función fue invocada desde una declaración, JavaScript "volverá" a ejecutar el código después de la declaración de invocación.Las funciones a menudo calculan un valor de retorno. El valor de retorno se "devuelve" a quien lo "llamo"</p>
<p>Te debes estar preguntando <strong>¿Por qué usar funciones?</strong> la respuesta es sencilla porque:</p>
  <ul>
    <li>Se puede reutilizar el código: defina el código una vez y úselo muchas veces.    </li>
    <li>Puede usar el mismo código muchas veces con diferentes argumentos para producir resultados diferentes.</li>
  </ul> 

  <div style="padding-left: 10%; padding-right: 1%">
    <div id="box">
      <p> Creemos una función: </p>
      <br>
      <p> <button (click)="mostrarB1=true;">Intentalo tu!</button></p> 
          <iframe src='https://stackblitz.com/edit/typescript-zjgcjr?embed=1&file=index.html' id='editor' *ngIf="mostrarB1"></iframe>
    </div>
  </div>
  <br>

  <h2 style="color:blue; padding-left: 10%;">Lección 4: Eventos</h2>
<p>Un evento HTML puede ser algo que hace el navegador, o algo que hace un usuario.

  Aquí hay algunos ejemplos de eventos HTML:
  </p>
  <ul>
    <li>Una página web HTML ha finalizado la carga.</li>
    <li>Se cambió un campo de entrada HTML</li>
    <li>Se hizo clic en un botón HTML</li>
  </ul>
  <p>A menudo, cuando suceden los eventos, es posible que desee hacer algo. JavaScript le permite ejecutar código cuando se detectan eventos.HTML permite que los atributos del manejador de eventos, con código JavaScript, se agreguen a los elementos HTML.</p>
  <p> Los eventos mas comundes:</p>
  <ul>
    <li> <code>onchange</code> Un elemento HTML ha sido cambiado</li>
    <li> <code>onclick</code> El usuario hace clic en un elemento HTML</li>
    <li> <code>onmouseover</code> El usuario mueve el mouse sobre un elemento HTML</li>
    <li> <code>onmouseout</code>El usuario aleja el mouse de un elemento HTML</li>
    <li> <code>onkeydown</code>El usuario presiona una tecla del teclado</li>
    <li> <code>onload</code>El navegador ha terminado de cargar la página</li>

  </ul>
  <div style="padding-left: 10%; padding-right: 1%">
    <div id="box">
      <p> Probemos con un evento: </p>
      <br>
      <p> <button (click)="mostrarB1=true;">Intentalo tu!</button></p> 
          <iframe src='https://stackblitz.com/edit/typescript-387mqf?embed=1&file=index.html' id='editor' *ngIf="mostrarB1"></iframe>
    </div>
  </div>
  

  <br>
  <div id="center">
    <form name="form" (ngSubmit)="submit()" novalidate>

      <select (change)="onKey($event)" required>
        <option *ngFor="let dato of datos" value="{{dato.name}}">
          {{dato.name}}
        </option>
      </select>




      <button>Validar</button>
    </form>
  </div>

</div>


<app-footer></app-footer>

</div>