<app-navbar></app-navbar>

<p class='jumbotron'>
    La pagina fue diseñada con Angular 6.0 con IDE Visual Studio Code 2018,
     base de datos en MYSQL 8.0 y
     enlaces mediante servicios web REST por medio de MuleSoft con IDE
     Anypoint Studio
</p>
