#mySidenav{
    position: fixed;

}


/* Style the links inside the sidenavs */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 150px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#m1 {
    top: 20px;
    background-color: rgb(126, 126, 126);
    /* 4CAF50 */
}

#m2 {
    top: 80px;
    background-color: rgb(126, 126, 126);

   /*  background-color: #2196F3; */ /* Blue */
}

#m3 {
    top: 140px;
    background-color: rgb(126, 126, 126);

 /*    background-color: #f44336; */ /* Red */
}

#m4 {
    top: 200px;
    background-color: rgb(126, 126, 126);

   /*  background-color: #555  *//* Light Black */
}