<div id="mySidenav" class="sidenav">
    <a href="#" *ngIf="html"[routerLink]="['/html']" id="m1">Modulo 1</a>
    <a href="#" *ngIf="css" [routerLink]="['/css']"id="m2">Modulo 2</a>
    <a href="#" *ngIf="js" [routerLink]="['/js']"id="m3">Modulo 3</a>
    <a href="#" *ngIf="php" [routerLink]="['/php']"id="m4">Modulo 4</a>
  </div> 

  <!-- disable the button -->

 
<!-- <body ng-app="">
  Click here to disable all the form fields:<input type="checkbox" [(ngModel)]=cancel()><br>
  <br> -->
  
  <!-- <input type="text" [disabled]=checkCourse(2)>
  <input type="radio" [disabled]=checkCourse(3)> -->
  <!-- <select [disabled]="all">
    <option>Female</option>
    <option>Male</option>  
  </select>
  
  </body> -->