<div class="header">
    </div>

<nav class="navbar navbar-inverse" id="test">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" [routerLink]="['/home']">Extreme Mind</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Cursos
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a [routerLink]="['/html']">Web Basico</a>
          </li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/about']">Acerca de</a>
      </li>
      <li>
          <a [routerLink]="['/contact']">Contacto</a>
        </li>        
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a [routerLink]="['/user']">
              <span class="glyphicon glyphicon-user"></span> Perfil</a>
          </li> 
      <li>
        <a [routerLink]="['/login']" *ngIf='!isLoggedIn$'>
          <span class="glyphicon glyphicon-user"></span> Usuario</a>
      </li> 

      <li>
          <a (click)='onLogout()' *ngIf='isLoggedIn$' >    
            <span class="glyphicon glyphicon-user"></span> Cerrar Sesion</a>
        </li>        
      </ul>
  </div>
</nav>