/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
 */

 body {
	margin: 0;
	padding: 0; 
}
.header {
	padding: 0;
}
.test {
	position: -webkit-sticky;
}

.content {
	width: 600px;
	margin: 10px auto 100px;
}


.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}