<div id="all">
  <app-navbar></app-navbar>
  <app-navbar-html></app-navbar-html>

  <div id="CCS">
    <h1>Modulo 2: CCS</h1>
    <p>CSS significa Hojas de Estilo en Cascada. CSS describe cómo los elementos HTML se mostrarán en la pantalla,
      papel o en otros medios </p>
    <p>CSS ahorra mucho trabajo. Puede controlar el diseño de múltiples páginas web a la vez.</p>
    <p>A diferencia de HTML que sus archivos son con extensiones .html los CSS tienen extensión .css</p>
    <p>CSS se utiliza para definir estilos para sus páginas web, incluido el diseño, el diseño y las variaciones en la
      visualización de diferentes dispositivos y tamaños de pantalla.</p>
    <p><code id='elemento'>Debemos entender que con HTML manejar el diseño es un dolor de cabeza, por esto nace CSS</code></p>

    <h2 style="color:blue; padding-left: 10%;">Lección 1: Basico</h2>
    <p>Las reglas de CSS consiste en un selector y un bloque de declaración</p>
    <p><img src='../../assets/images/css-sintaxis.png'></p>
    <ul>
      <li>El selector apunta al elemento HTML que desea diseñar.</li>
      <li>El bloque de declaración contiene una o más declaraciones separadas por punto y coma.</li>
      <li>Cada declaración incluye un nombre de propiedad CSS y un valor, separados por dos puntos.</li>
      <li>Una declaración de CSS siempre termina con un punto y coma, y los bloques de declaración están rodeados de
        llaves.</li>
    </ul>
    <p>Los selectores de CSS se utilizan para "encontrar" (o seleccionar) elementos HTML en función de su nombre de
      elemento, id, clase, atributo y más. Para entender mejor todo esto explicaremos brevemente cada tipo de selector:</p>
    <ul>
      <li>El selector de elementos: selecciona elementos en función del nombre del elemento. Por ejemplo si
        seleccionamos <code>{{etCss[0]}}</code> todos los cambios que hagamos a la etiqueta "p" se visualizaran en
        todos
        los parráfos que tengamos.</li>
      <li>El selector de id: usa el atributo id de un elemento HTML para seleccionar un elemento específico.La
        identificación de un elemento debe ser única dentro de una página, por lo que el selector de id se usa para
        seleccionar un elemento único. Para seleccionar un elemento con una identificación específica, escriba un
        carácter hash (#), seguido de la identificación del elemento. </li>
      <li>El selector de clase: selecciona elementos con un atributo de clase específico. Para seleccionar elementos
        con una clase específica, escriba un carácter de punto (.), Seguido del nombre de la clase.</li>
    </ul>
    <div style="padding-left: 10%; padding-right: 1%">
      <div id="box">
        <p> Si aplicamos lo explicado anteriormente seria de la siguiente manera: </p>
        <p> <code id='elemento'>Selector de elementos: </code>p {{etCss[8]}}
          color: red;
          text-align: center;
          {{etCss[9]}}
        </p>
        <br>
        <p><code id='elemento'>Selector de id: </code> #ejemplo {{etCss[8]}}
          text-align: center;
          color: red;
          {{etCss[9]}}
        </p>
        <br>
        <p>
          <code id='elemento'>Selector de clase: </code> .center {{etCss[8]}}
          text-align: center;
          color: red;
          {{etCss[9]}}
        </p>
        <br>
        <strong> Se usará lo aprendido en el modulo anterior</strong>
        <br>
        <button (click)="mostrarE=true;">Intentalo tu!</button>
        
        <iframe src='https://stackblitz.com/edit/elementos?embed=1&file=index.html' id='editor' *ngIf="mostrarE"></iframe>
      </div>
    </div>
    <br>


    <h2 style="color:blue; padding-left: 10%;">Lección 2: Formas de colocar CSS</h2>
    <p> Existen tres formas de insertar una hoja de estilos:</p>
    <ul>
      <li>Hoja de estilo Externa</li>
      <li>Hoja de estilo Interna</li>
      <li>Estilo en Línea</li>
    </ul>
    <p><strong>Hoja de estilo Externa: </strong>puede cambiar el aspecto de un sitio web completo al cambiar solo un
      archivo. Cada página debe incluir una referencia al archivo de hoja de estilo externo dentro del elemento <code>{{etCss[1]}}</code>.
      El elemento <code>{{etCss[1]}}</code> va dentro de la sección <code>{{etCss[2]}}</code>: </p>
    <p><label> <code>{{etCss[2]}}</code></label>
      <label><code>{{etCss[4]}}</code></label>
      <label><code>{{etCss[3]}}</code></label>
    </p>
    <p>Así podemos llamar a nuestro archivo de estilos. El archivo como hemos visto en la lección anterior no debe
      contener ninguna etiqueta HTML.
      Nuestro archivo mystyle.css posee:
    </p>
    <p>body {{etCss[8]}}
      background-color: lightblue;
      {{etCss[9]}}</p>

    <p>h1 {{etCss[8]}}
      color: navy;
      margin-left: 20px;
      {{etCss[9]}} </p>
    <div style="padding-left: 10%; padding-right: 1%">
      <div id="box">
        <p> Veamos como se vería en nuestra página: </p>
        <button (click)="mostrarEE=true;">Intentalo tu!</button>
        
        <iframe src='https://stackblitz.com/edit/estiloexterno?embed=1&file=index.html' id='editor' *ngIf="mostrarEE"></iframe>
      </div>
    </div>
    <br>

    <p><strong>Hoja de estilo Interna:</strong> se puede utilizar si una sola página tiene un estilo único. Los estilos
      internos se definen dentro del elemento <code>{{etCss[5]}}</code>, dentro de la sección <code>{{etCss[2]}}</code>de
      una página HTML
    </p>
    <p><label> <code>{{etCss[2]}}</code></label>
      <label><code>{{etCss[5]}}</code></label> </p>
    <p> body {{etCss[8]}}
      background-color: linen;
      {{etCss[9]}}
    </p>
    <p> h1 {{etCss[8]}}
      color: maroon;
      margin-left: 40px;
      {{etCss[9]}} </p>
    <p> <label><code>{{etCss[6]}}</code></label>
      <label> <code>{{etCss[3]}}</code></label>
    </p>
    <div style="padding-left: 10%; padding-right: 1%">
      <div id="box">
        <p> Veamos como se vería en nuestra página con el estilo interno: </p>
        <button (click)="mostrarEI=true;">Intentalo tu!</button>
        
        <iframe src='https://stackblitz.com/edit/estilointerno?embed=1&file=index.html' id='editor' *ngIf="mostrarEI"></iframe>
      </div>
    </div>
    <br>

    <p><strong>Estilo en línea:</strong> sse puede usar para aplicar un estilo único para un solo elemento.Para usar
      estilos en línea, agregue el atributo de estilo al elemento relevante. El atributo de estilo puede contener
      cualquier propiedad de CSS.</p>
    <p><label><code>{{etCss[7]}}</code></label></p>
    <div style="padding-left: 10%; padding-right: 1%">
      <div id="box">
        <p> Veamos como se vería en nuestra página con el estilo linea: </p>
        <button (click)="mostrarEL=true;">Intentalo tu!</button>
        
        <iframe src='https://stackblitz.com/edit/estilolinea?embed=1&file=index.html' id='editor' *ngIf="mostrarEL"></iframe>
      </div>
    </div>
    <br>
    <h2 style="color:blue; padding-left: 10%;">Lección 3: Fondo y Color </h2>
    <p>Existen distintas maneras de darle color a nuestra página. </p>
    <ul>
      <li>Background-color: Puede establecer el color de fondo para los elementos HTML</li>
      <li>Text Color: Puedes establecer el color del texto</li>
      <li>Border Color: Puedes establecer el color de los bordes</li>
    </ul>
    <p>Los colores pueden ser por nombre o también pueden especificarse utilizando valores RGB, valores HEX, HSL, RGBA
      y HSLA. El RGBA rgb(255, 99, 71), el HEX #ff6347, el HSL hsl(9, 100%, 64%) y si queremos con transparencia usamos
      RGBA rgba(255, 99, 71, 0.5) y HSLA hsla(9, 100%, 64%, 0.5)</p>
    <p>El fondo puede no ser solo de colores, puede contener una imagen, utilizando <code id='elemento'>background-image</code>.
    </p>
    <ul>
      <li>body {{etCss[8]}}
        background-image: url("ccs-example.png");
        {{etCss[9]}}</li>
      <li> De manera predeterminada, la propiedad <code id='elemento'>background-image</code> repite una imagen tanto
        horizontal como
        verticalmente.
        <ul>
          <li><code id='elemento'>background-repeat: repeat-x; </code>Para repetir horizontalmente</li>
          <li><code id='elemento'>background-repeat: repeat-y; </code>Para repetir verticalmente</li>
          <li> <code id='elemento'>background-repeat: no-repeat;</code> Para no repetir la imagen</li>
        </ul>
      </li>
      <li>Para defininir la posición de la imagen<code id='elemento'>background-position: right top;</code> </li>
      <li>Para especificar que la imagen de fondo debe ser fija (no se desplazará con el resto de la página), use la
        propiedad <code id='elemento'>background-attachment: fixed;</code></li>
      <li> Para acortar el código, también es posible especificar todas las propiedades de fondo en una sola
        propiedad.<code id='elemento'> background: #ffffff url("img_tree.png") no-repeat right top;</code></li>
    </ul>

    <div style="padding-left: 10%; padding-right: 1%">
      <div id="box">
        <p> Veamos como se vería en nuestra página con <code id='elemento'> background-color</code> : </p>
        <button (click)="mostrarF2=true;">Intentalo tu!</button>
        
        <iframe src='https://stackblitz.com/edit/fondos2?embed=1&file=index.html' id='editor' *ngIf="mostrarF2"></iframe>
        <br>
        <p> Veamos como se vería en nuestra página con <code id='elemento'>background-image</code> : </p>
        <button (click)="mostrarF=true;">Intentalo tu!</button>
        
        <iframe src='https://stackblitz.com/edit/typescript-muwx81?embed=1&file=index.html' id='editor' *ngIf="mostrarF"></iframe>
     </div>
    </div>
    <br>

    <h2 style="color:blue; padding-left: 10%;">Lección 4: Tablas</h2>
    <p>Haremos que nuestras tablas de HTML se vean mucho mejor. </p>
    <ul>
      <li>Bordes tabla: Para especificar los bordes de la tabla en CSS, se usa la propiedad <code>border</code></li>
      <li>Tamaños de la tabla: El ancho y alto de una tabla están definidos por las propiedades <code>width</code> y
        <code>height</code>.</li>
      <li>Alinación horizontal: La propiedad <code>text-align</code> establece la alineación horizontal (como
        izquierda, derecha o centro) del contenido en <code> {{etCss[10]}}</code> o <code> {{etCss[11]}}</code>.Por
        defecto, el contenido de los elementos <code> {{etCss[10]}}</code> está alineado en el centro y el contenido de
        los elementos <code> {{etCss[11]}}</code> está alineado a la izquierda.
      </li>
      <li>Alineación vertical: La propiedad<code>vertical-align</code> establece la alineación vertical (como arriba, abajo
        o en medio) del contenido en <code> {{etCss[10]}}</code> o <code> {{etCss[11]}}</code>.
        Por defecto, la alineación vertical del contenido en una tabla es intermedia </li>
        <li>Divisores horizontales: Agregue la popiedad <code>border-bottom</code> a <code> {{etCss[10]}}</code>  y<code> {{etCss[11]}}</code>  para divisor horizontal </li>
        <li>Hover: Use <code>hover</code>  en <code> {{etCss[10]}}</code>  para resaltar las filas de la tabla al pasar el mouse</li>
    </ul>

    <div style="padding-left: 10%; padding-right: 1%">
      <div id="box">
        <p> Veamos como se vería una tabla usando todas estas propiedades </p>
        <button (click) ="mostrarT=true">Intentalo tu!</button>

        <iframe src='https://stackblitz.com/edit/table1?embed=1&file=index.html'  *ngIf="mostrarT==true" id='editor'></iframe>
    
      </div>
    </div>
    <br>



    <br>
    <div id="center">
      <form name="form" (ngSubmit)="submit()" novalidate>

        <select (change)="onKey($event)" required>
          <option *ngFor="let dato of datos" value="{{dato.name}}">
            {{dato.name}}
          </option>
        </select>




        <button>Validar</button>
      </form>
    </div>

  </div>



  <app-footer></app-footer>
</div>