<div class="tab-content">
  <div class="tab-pane fade in active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="container">
      <h2>Extreme mind, portal para aprendizaje en linea gratuito.</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <div class="item active">
            <img src="./assets/images/web.jpg" alt="Los Angeles" style="width:100%;">
            <div class="carousel-caption">
              <h3></h3>
            </div>
          </div>

          <div class="item">
            <img src="./assets/images/web2.jpg" alt="Chicago" style="width:100%;">
            <div class="carousel-caption">
              <h3>Aprende a programar!</h3>
            </div>
          </div>

          <div class="item">
            <img src="./assets/images/web3.jpg" alt="New York" style="width:100%;">
            <div class="carousel-caption">
              <h3>Inicia en el mundo de la programacion</h3>
              <p>HELLO WORLD!</p>
            </div>
          </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>