@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/*
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.verde{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; 
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

#view-filters {
  overflow: hidden;
  position:relative;
  height:450px;
}
#trigger-toggle {
  cursor: pointer;
}
#element-toggle {
  display:none;
}
#toggled-element {
  position:absolute;
  right:0px;
  width:100%;  
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -mos-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
#element-toggle:not(:checked) ~ #toggled-element {
  right:-1000px;
}


*/
body{
  margin: 0px;
  padding: 0px;
  background-color: turquoise;
}
#box{
  height: 90%;
  width: 90%;
  background-color:#2D2D2D;
  border-radius: 5px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#main{
  height: 90%;
  width: 500px;
  background-color:white;
  border-radius: 5px;
  position: absolute;
  top:50%;
  left: 70%;
  transform: translate(-50%,-50%);
  z-index: 99;
}
#loginform,#signupform{
  position: absolute;
  top:50%;
  left: 70%;
  transform: translate(-20%,-50%);
  z-index: 999;
}
#loginform{
transform: translate(-80%,-50%)!important;
}
#signupform{
  top:45%;
  left: 75%; /*relative aaspect 75 45*/
  visibility: hidden;
}
#loginform h1,#signupform h1{
  font-family: arial;
  font-size: 25px;
  color:turquoise;
}
#loginform input,#signupform input{
  height: 40px;
  width: 300px;
  border: 0px;
  outline: none;
  border-bottom: 1px solid black;
  margin: 5px;
}
#loginform button,#signupform button{
  height: 35px;
  width: 130px;
  background-color:turquoise;
  font-family: monospace;
  font-size: 16px;
  color:white;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 175px;
}
#login_btn,#signup_btn{
  height: 50px;
  width: 140px;
  background-color:transparent;
  color:white;
  border:1px solid white;
  border-radius: 5px;
  outline: none;
  position: absolute;
  left: 75%; /*Distancia entre botones*/
  top:65%;
  transform: translate(-50%,-50%);
  transition: all .5s;
}
#signup_btn{
  left: 25%;
}
#login_btn:hover,#signup_btn:hover{
  background-color:white;
  color:#2d2d2d;
  cursor: pointer;
}
#login_msg,#signup_msg{
  font-family: arial;
  font-size: 25px;
  color:white;
  position: absolute;
  top:35%;
  left: 75%;
  transform: translate(-50%,-50%);
  z-index: 1;
}
#signup_msg{
  left: 25%;
}











