<!--
<div class="form" id="view-filters">
  <div *ngIf="change; then register; else login" id="toggled-element">
  </div>
  <a (click)="change = !change">
      {{change ?'Iniciar Sesion'  : 'Registrarme'}}
    </a>
</div>

<ng-template #login>
  <form class="login-form" id="loginform" >
    <input type="text" placeholder="Usuario" />
    <input type="password" placeholder="Contraseña" />
    <label for="example-element-toggle" id="example-trigger-toggle">
        <button>Iniciar Sesion</button>
      </label>
    
  </form>

</ng-template>


<ng-template #register >
    
  <form class="register-form" id="registerform">    
    <input type="text" placeholder="Nickname" id="nickname" />
    <input type="text" placeholder="Nombre" id="name" />
    <input type="text" placeholder="Apellido" id="l_name" />
    <input type="password" placeholder="Contraseña" id="password" />
    <input type="text" placeholder="Correo Electrónico" id="email" />
    <button>Crear</button>
  </form>
 
</ng-template>

-->


<script src="../../assets/js/btn_ani.js"></script>

<body>

  <div id="box">
    <div id="main">

      <form id="loginform" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>

        <div class="form-group" [ngClass]="{ 'has-error': f.form.submitted && !username.valid  }">
          <input type="text" name="username" class="form-control" placeholder="Usuario" [(ngModel)]="model.username" #username="ngModel"
            required/>
          <div *ngIf="f.form.submitted && !username.valid" class="help-block">El usuario es requerido</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': (f.form.submitted && !password.valid)  }">
          <input type="password" placeholder="Contraseña" id="passwords" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
          <div *ngIf="(f.form.submitted && !password.valid) " class="help-block">La contraseña es requerido</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': error }">
         <div *ngIf="error" class="help-block">{{error}}</div>
        </div>
        <button [disabled]="loading">Entrar</button>

      </form>

      <form id="signupform" name="test" (ngSubmit)="fo.valid && Regis()" #fo="ngForm" novalidate>

        <div class="form-group" [ngClass]="{ 'has-error': fo.submitted && !nickname.valid }">
          <input type="text" placeholder="Nickname" id="nickname" name='nickname' [(ngModel)]="model.nickname" #nickname="ngModel"
          required/>
          <div *ngIf="fo.submitted && !nickname.valid" class="help-block">El usuario es requerido</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': fo.submitted && !ci.valid }">
            <input type="text" placeholder="ci" id="nickname" name='ci' [(ngModel)]="model.ci" #ci="ngModel"
            required/>
            <div *ngIf="fo.submitted && !ci.valid" class="help-block">La cédula de identidad es requerida</div>
          </div>

        <div class="form-group" [ngClass]="{ 'has-error': fo.submitted && !name.valid }">
          <input type="text" placeholder="Nombre" id="name" name='name' [(ngModel)]="model.name" #name="ngModel"
          required/>
          <div *ngIf="fo.submitted && !name.valid" class="help-block">El usuario es requerido</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': fo.submitted && !l_name.valid }">
          <input type="text" placeholder="Apellido" id="l_name" name='l_name' [(ngModel)]="model.l_name" #l_name="ngModel"
          required/>
          <div *ngIf="fo.submitted && !l_name.valid" class="help-block">El usuario es requerido</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': fo.submitted && !pass.valid }">
          <input type="password" placeholder="Contraseña" id="pass" name='pass' [(ngModel)]="model.pass" #pass="ngModel"
          required/>
          <div *ngIf="fo.submitted && !pass.valid" class="help-block">El usuario es requerido</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': fo.submitted && !email.valid }">
          <input type="text" placeholder="Correo Electrónico" id="email" name='email' [(ngModel)]="model.email" #email="ngModel"
          required/>
          <div *ngIf="fo.submitted && !email.valid" class="help-block">El usuario es requerido</div>
        </div>
        <button>Registrarse</button>

      </form>
    </div>
    <div id="login_msg">Tienes cuenta?</div>
    <div id="signup_msg">No tienes una cuenta?</div>

    <button id="login_btn">Iniciar Sesión</button>
    <button id="signup_btn">Registrarse</button>
  </div>


</body>