<div id="all">
  <app-navbar></app-navbar>
  <app-navbar-html></app-navbar-html>

  <div id="CCS">
    <h1>Modulo 4: PHP</h1>
    <p>Una vez que hemos apredindo HTML, CSS y JavaScript es momento de adentrarnos en PHP. ¿Qué podemos hacer con PHP?</p>
    <ul>
      <li>Puede generar contenido de página dinámico </li>
      <li>Puede crear, abrir, leer, escribir, eliminar y cerrar archivos en el servidor</li>
      <li>Puede recopilar datos de formulario</li>
      <li>Puede enviar y recibir cookies</li>
      <li>Puede agregar, eliminar, modificar datos en su base de datos</li>
      <li>Se puede usar para controlar el acceso del usuario</li>
      <li>Puede cifrar datos</li>
    </ul>

    <h2 style="color:blue; padding-left: 10%;">Lección 1: Basico</h2>
    <p> Un script PHP se puede colocar en cualquier parte del documento. Un script PHP comienza con <code>{{etPh[0]}}php</code>
      y termina con <code>?></code>: </p>
    <p>La extensión de archivo predeterminada para los archivos PHP es ".php". Un archivo PHP normalmente contiene
      etiquetas HTML y algunos códigos de script PHP.</p>
    <p>Para imprimir en pantalla y crear variables es de la siguiente manera: <code>{{etPh[0]}}php $x=5; echo $x; ?></code></p>
    <p>Las variables pueden almacenar datos de diferentes tipos, y diferentes tipos de datos pueden hacer cosas
      diferentes. PHP soporta los siguientes tipos de datos: </p>
    <ul>
      <li><code>String</code>: Cadena de texto <code>{{etPh[0]}}php $x= "Hola! soy una variable de sting" ?></code></li>
      <li><code>Integer</code>: Son enteros, no decimales. Pueden ser negativos o positivos <code>{{etPh[0]}}php $x= 56560 ?></code></li>
      <li><code>Float</code>: Puede ser un decimal o un número en forma exponencial <code>{{etPh[0]}}php $x=18.02 ?></code>
      </li>
      <li><code>Boolean</code>: Representa el verdadero o falso <code>{{etPh[0]}}php $x=true ?></code> </li>
      <li><code>Array</code>: Una matriz almacena múltiples valores en una sola variable <code>{{etPh[0]}}php $carros = array("Volvo","BMW","Cherokee"); ?></code></li>
      <li><code>Object</code>: Un objeto es un tipo de datos que almacena datos e información sobre cómo procesar esos
        datos.

        En PHP, un objeto debe ser declarado explícitamente.

        Primero debemos declarar una clase de objeto. Para esto, usamos la palabra clave de clase. Una clase es una
        estructura que puede contener propiedades y métodos <code>{{etPh[0]}}php class Carro {{etPh[1]}}
        function Carro() {{etPh[1]}}
            $this->model = "VW";
            {{etPh[2]}}
            {{etPh[2]}}
            $herbie = new Carro();

  echo $herbie->model;
?>
     </code></li>
    </ul>

   

    <h2 style="color:blue; padding-left: 10%;">Lección 2: </h2>
    <p>En PHP, tenemos las siguientes declaraciones de bucle: </p>

    <p><code>while</code>: pasa por un bloque de código siempre que la condición especificada sea verdadera. <br>
      {{etPh[0]}}php
      <br>
      $x = 1;
      <br>
      while($x {{etPh[3]}}= 5) {{etPh[1]}}
      <br>
      echo "El número es: $x {{etPh[4]}}";
      <br>
      $x++;
      <br>
      {{etPh[2]}}
      <br>
      ?></p>
    <p><code>do..while</code>: recorre un bloque de código una vez, y luego repite el bucle siempre que la condición
      especificada sea verdadera.<br>
      {{etPh[0]}}php
      <br> $x = 1;
      <br>
      do {{etPh[1]}}
      <br>
      echo "El número es: $x {{etPh[4]}}"; <br>
      $x++; <br>
      {{etPh[2]}} while ($x {{etPh[3]}}= 5); <br>
      ?></p>
    <p><code>for</code>: pasa por un bloque de código un número específico de veces <br>
      {{etPh[0]}}php <br>
      for ($x = 0; $x {{etPh[3]}}= 10; $x++){{etPh[1]}}<br>
      echo "The number is: $x {{etPh[4]}}";<br>
      {{etPh[2]}}<br>
      ?><br>

    </p>
    <p><code>foreach</code>: recorre un bloque de código para cada elemento de una matriz<br>
      {{etPh[0]}}php <br>
      $colors = array("red", "green", "blue", "yellow"); <br>

      foreach ($colors as $value){{etPh[1]}}<br>
      echo "$value{{etPh[4]}}";<br>
      {{etPh[2]}}<br>
      ?>
    </p>



    <br>
    <div id="center">
      <form name="form" (ngSubmit)="submit()" novalidate>

        <select (change)="onKey($event)" required>
          <option *ngFor="let dato of datos" value="{{dato.name}}">
            {{dato.name}}
          </option>
        </select>




        <button>Validar</button>
      </form>
    </div>

  </div>




<app-footer></app-footer>
</div>