<div id="main-container">
    
    <div id="no-transition" class="cuadrado">
      No-Transition
    </div>


    <div id="transition" class="cuadrado">
      Transition
    </div>
  
  </div>


  <div id="example-view-filters">
      <p>
        Para ver el efecto en acción pincha en el botón:
      </p>
      <label for="example-element-toggle" id="example-trigger-toggle">
        <span class="btn btn-success">Disparador</span>
      </label>
    
      <input id="example-element-toggle" type="checkbox" />
      <div id="example-toggled-element">

        <i aria-hidden="true" class="">&nbsp;hola </i>
      </div>
      
    </div>