<app-navbar></app-navbar>

<!-- {{datos[0].ci}}
 -->

<div class="jumbotron">
    <div class='row'>
    <div class='col-md-6 ml-auto' style='margin-top: 35px; margin-left: 15px'>
        <h1 class="display-4">Usuario: {{userP}}</h1>
        <p class="lead">Aquí podra revisar todos los cursos que has realizado.</p>
    </div>
    <div class='col-md-2 ml-auto lead' style='margin-top:30px'>

        <div *ngIf="html">
            <img src='../../assets/images/html.png'  width='30' height='40'>
            MEDALLA HTML</div>

            <div *ngIf="css">
                    <img src='../../assets/images/css.png'  width='30' height='40'>
                    MEDALLA CSS</div>

                    <div *ngIf="js">
                            <img src='../../assets/images/js.png'  width='30' height='40'>
                            MEDALLA JS</div>

                            <div *ngIf="php">
                                    <img src='../../assets/images/php.png'  width='30' height='40'>
                                    MEDALLA PHP</div>
                                    
    </div>
    <div class='col-md-3 ml-auto lead' style='margin-top:40px' id='trophy'>

    <div *ngIf="html && css && js && css">
            <img src='../../assets/images/rookie.png'  width='70' height='60' >
            TROFEO ROOKIE
            <img src='../../assets/images/rookie.png'  width='70' height='60' >
        </div>
       <div style="margin-left: 50px">
            <img src='../../assets/images/pc.png'  width='200' height='120' >

    </div> 
    </div>

    </div>

    <!-- <hr class="my-4">
    <p>Lista de cursos:</p> -->
    <!-- <p class="lead">
      <a class="btn btn-primary btn-lg" role="button">Revisar</a>
    </p> -->
  </div>

<div id='isUser' *ngIf='isAlumno'>
    <table class="table table-striped" [mfData]="datos" #mf="mfDataTable" [mfRowsOnPage]="100">
    <thead>
    <tr>
        <th style="width: 20%">
            <mfDefaultSorter by="ci">Cedula</mfDefaultSorter>
        </th>
        <th style="width: 30%">
            <mfDefaultSorter by="profe">Profesor </mfDefaultSorter>
        </th>
        <th style="width: 30%">
            <mfDefaultSorter by="leccion">Leccion</mfDefaultSorter>
        </th>

        <th style="width: 20%">
            <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter>
        </th>
        
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dato of datos">
        <td>{{dato.ci}}</td>
        <td>{{dato.profe}}</td>        
        <td>{{dato.leccion}}</td>
        <td>{{dato.fecha}}</td>
        

    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[100,150,200]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
    </table>

</div>

<div id='isUser' *ngIf='!isAlumno'>
        <table class="table table-striped" [mfData]="datos" #mf="mfDataTable" [mfRowsOnPage]="100">
        <thead>
        <tr>
            <th style="width: 20%">
                <mfDefaultSorter by="ci">Cedula</mfDefaultSorter>
            </th>
            <th style="width: 30%">
                <mfDefaultSorter by="name">Alumno</mfDefaultSorter>
            </th>
            <th style="width: 30%">
                <mfDefaultSorter by="leccion">Leccion</mfDefaultSorter>
            </th>
    
            <th style="width: 20%">
                <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter>
            </th>
            
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dato of datos">
            <td>{{dato.ci}}</td>
            <td>{{dato.name}}</td>        
            <td>{{dato.leccion}}</td>
            <td>{{dato.fecha}}</td>
    
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[100,150,200]"></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
        </table>
    
    </div>

  
 
