/* 
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }  */

  .row{

    overflow-anchor: hidden;
    overflow: hidden;
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
  }

  #trophy{
      /* background-color: blue;
      color: aquamarine;
      padding: 2px;
      border: 4px;
      outline-color: brown;
      outline: solid #f00 1px !important; */
      text-shadow: 0 0 3px yellow;
      color:rgb(212, 71, 71);
      
      
  }

  #trofeo{
        outline-style: ridge;
        outline-offset: 2px;
        outline-color: aqua;

  }


  /* Text-ident es sangria
    Text-decoration es subrayado */

  #trophy:hover{
    color:yellow;
    text-shadow: 0 0 5px green;
}




.cuadrado:hover{
    background-color:#c0392b;
    width:200px;
    box-shadow:0px 0px 6px #000;
}

#transition{
  -webkit-transition: background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
  -moz-transition:background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
  -o-transition: background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
  -ms-transition:background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
  transition: background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
}

#example-view-filters {
    overflow: hidden;
    position:relative;
    height:450px;
}
#example-trigger-toggle {
    cursor: pointer;
}
#example-element-toggle {
    display:none;
}
#example-toggled-element {
    position:absolute;
    right:0px;
    width:100%;  
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -mos-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#example-element-toggle:not(:checked) ~ #example-toggled-element {
    right:-1000px;
}