<div id="all">
  <app-navbar></app-navbar>
  <app-navbar-html></app-navbar-html>
  <div id="HTML">
    <h1>Modulo 1: HTML</h1>
    <p>HTML es el esqueleto de todas las páginas web. Es el lenguaje de marcado estándar para crear páginas web.
    </p>
    <p>
      HTML significa lenguaje de marcado de hiper texto</p>
    <p> Los elementos HTML son los componentes básicos de las páginas HTML Los elementos HTML están representados por
      etiquetas
      Las etiquetas HTML etiquetan fragmentos de contenido como "encabezado", "párrafo", "tabla", etc</p>
    <p>Los navegadores no muestran las etiquetas HTML, pero las usan para representar el contenido de la página</p>
    <ul>
      <li>La declaración
        <code>{{et[0]}}</code> define este documento como HTML5</li>
      <li>El elemento
        <code>{{et[1]}}</code> es el elemento raíz de una página HTML</li>
      <li>El elemento
        <code>{{et[2]}}</code>contiene metainformación sobre el documento</li>
      <li>El elemento
        <code>{{et[3]}}</code>especifica un título para el documento</li>
      <li>El elemento
        <code>{{et[4]}}</code> contiene el contenido de la página visible</li>
      <li>El elemento
        <code>{{et[5]}}</code> define un encabezado grande</li>
      <li>El elemento
        <code>{{et[6]}}</code> define un párrafo</li>
    </ul>
    <p>
      <code id='elemento'>TODOS LOS TAGS DEBEN SER CERRADOS, POR EJEMPLO:</code>
      <code>{{et[6]}}</code>
      <code>{{et[7]}}</code>
    </p>

    <h2 style="color:blue; padding-left: 10%;">Lección 1: Basico</h2>
    <div style="padding-left: 10%; padding-right: 1%">
      <div id="box">
        <p> Si aplicamos lo explicado anteriormente seria de la siguiente manera:
          <br>
          <label>
            <code>{{et[0]}}</code> </label>
          <br>
          <label style="padding-left: 1%">
            <code>{{et[1]}}</code>
          </label>
          <br>
          <label style="padding-left: 2%">
            <code>{{et[2]}}</code>
          </label>
          <br>
          <label style="padding-left: 3%">
            <code>{{et[3]}}</code>
            <code id='elemento'>Título de página</code>
            <code>{{et[8]}}</code>
          </label>
          <br>
          <label style="padding-left: 2%">
            <code>{{et[9]}}</code>
          </label>
          <br>
          <label style="padding-left: 2%">
            <code>{{et[4]}}</code>
          </label>
          <br>
          <label style="padding-left: 3%">
            <code>{{et[5]}}</code>
            <code id='elemento'>Primer header</code>
            <code>{{et[10]}}</code>
          </label>
          <br>
          <label style="padding-left: 3%">
            <code>{{et[6]}}</code>
            <code id='elemento'>Primer parrafo</code>
            <code>{{et[11]}}</code>
          </label>
          <br>
          <label style="padding-left: 2%">
            <code>{{et[12]}}</code>
          </label>
          <br>
          <label style="padding-left: 1%">
            <code>{{et[13]}}</code>
          </label>
          <br>
        
       <p> <button (click)="mostrarB=true;">Intentalo tu!</button></p> 
        
        <iframe src='https://stackblitz.com/edit/htmlbasico?embed=1&file=index.html' id='editor' *ngIf="mostrarB"></iframe>
      </div>
    </div>
    <br>

    <h2 style="color:blue; padding-left: 10%;">Lección 2: Etiquetas</h2>
    <p>Los encabezados HTML se definen con las etiquetas
      <code>{{et[5]}}</code> a
      <code>{{et[14]}}</code>.</p>
    <p>
      <code>{{et[5]}}</code> define el encabezado más importante.
      <code>{{et[14]}}</code> define el encabezado menos importante
    </p>
    <p>Los párrafos HTML se definen con la etiqueta
      <code>{{et[6]}}</code>
    </p>
    <p>Los enlaces HTML se definen con la etiqueta
      <code>{{et[15]}}</code>.El destino del enlace se especifica en el atributo
      <code>href</code>. Los atributos se utilizan para proporcionar información adicional sobre elementos HTML.
    </p>
    <p>Las imágenes HTML se definen con la etiqueta
      <code>{{et[17]}}</code>. El archivo fuente
      <code>src</code>, texto alternativo
      <code>alt</code>, ancho
      <code>width</code> y alto
      <code>height</code>
    </p>
    <p>La etiqueta
      <code>{{et[26]}}</code> requiere un atributo
      <code>src</code> con un enlace a la fuente de video. Sin embargo, a diferencia de la etiqueta
      <code>{{et[17]}}</code>, el elemento
      <code>{{et[26]}}</code> requiere una etiqueta de apertura y una de cierre
      <code>{{et[27]}}</code>
    </p>
    <p>Los botones HTML se definen con la etiqueta
      <code>{{et[18]}}</code>
    </p>
    <p>Las listas HTML se definen con la etiqueta
      <code>{{et[20]}}</code> (lista ordenada / no) o la etiqueta
      <code>{{et[24]}}</code> (ordenada / numerada), seguidas de las etiquetas
      <code>{{et[22]}}</code> (lista de elementos)</p>
    <p>
      <code>{{et[25]}}</code>Si está interesado en modificar el espaciado en el navegador, puede usar el elemento de
      salto de línea de HTML</p>

    <div style="padding-left: 10%; padding-right: 1%">
      <div id="box">
        <p> Miremos como es cada uno:
          <br>
          <button (click)="mostrarE=true;">Intentalo tu!</button>
        
          <iframe src='https://stackblitz.com/edit/etiquetas?embed=1&file=index.html' id='editor' *ngIf="mostrarE"></iframe>
      </div>
    </div>
    <br>
    <p>Otras etiquetas son:</p>
    <ul>
      <li>
        <code>{{et[28]}}</code>-
        <b>Bold text</b>
      </li>
      <li>
        <code>{{et[29]}}</code>-
        <strong>Important text</strong>
      </li>
      <li>
        <code>{{et[30]}}</code>-
        <i>Italic text</i>
      </li>
      <li>
        <code>{{et[31]}}</code>-
        <em>Emphasized text</em>
      </li>
      <li>
        <code>{{et[32]}}</code>-
        <mark>Marked text</mark>
      </li>
      <li>
        <code>{{et[33]}}</code>-
        <small>Small text</small>
      </li>
      <li>
        <code>{{et[34]}}</code>-
        <del>Deleted text</del>
      </li>
      <li>
        <code>{{et[35]}}</code>-
        <ins>Inserted text</ins>
      </li>
      <li>
        <code>{{et[36]}}</code>-
        <sub>Subscript text</sub>
      </li>
      <li>
        <code>{{et[37]}}</code>-
        <sup>Superscript text</sup>
      </li>
    </ul>

    <br>

    <h2 style="color:blue; padding-left: 10%;">Lección 3: Tablas</h2>
    <p>Una tabla HTML se define con la etiqueta
      <code>{{et[38]}}</code>. </p>
    <p> Cada fila de la tabla se define con la etiqueta
      <code>{{et[39]}}</code>. Un encabezado de tabla se define con la etiqueta
      <code>{{et[40]}}</code>. Por defecto, los encabezados de las tablas están en negrita y centrados. Una tabla de
      datos / celda se define con la
      etiqueta
      <code>{{et[41]}}</code>.</p>

    <div style="padding-left: 10%; padding-right: 1%">
      <div id="box">
        <p>La tabla seria de la siguiente manera</p>
        <p>
          <label>
            <code>{{et[38]}}</code>
          </label>
          <br>
          <label style="padding-left: 1%">
            <code>{{et[39]}}</code>
          </label>
          <br>
          <label style="padding-left: 2%">
            <code>{{et[40]}}</code>
            <code id='elemento'>Nombre</code>
            <code>{{et[44]}}</code>
          </label>
          <br>
          <label style="padding-left: 2%">
            <code>{{et[40]}}</code>
            <code id='elemento'>Apellido</code>
            <code>{{et[44]}}</code>
          </label>
          <br>
          <label style="padding-left: 2%">
            <code>{{et[40]}}</code>
            <code id='elemento'>Edad</code>
            <code>{{et[44]}}</code>
          </label>
          <br>
          <label style="padding-left: 1%">
            <code>{{et[43]}}</code>
          </label>
          <br>
          <label style="padding-left: 1%">
            <code>{{et[39]}}</code>
          </label>
          <br>
          <label style="padding-left: 2%">
            <code>{{et[41]}}</code>
            <code id='elemento'>Alejandra</code>
            <code>{{et[45]}}</code>
          </label>
          <br>
          <label style="padding-left: 2%">
            <code>{{et[41]}}</code>
            <code id='elemento'>Becerra</code>
            <code>{{et[45]}}</code>
          </label>
          <br>
          <label style="padding-left: 2%">
            <code>{{et[41]}}</code>
            <code id='elemento'>24</code>
            <code>{{et[45]}}</code>
          </label>
          <br>
          <label style="padding-left: 1%">
            <code>{{et[43]}}</code>
          </label>
          <br>
          <label style="padding-left: 1%">
            <code>{{et[39]}}</code>
          </label>
          <br>
          <label style="padding-left: 2%">
            <code>{{et[41]}}</code>
            <code id='elemento'>Jose</code>
            <code>{{et[45]}}</code>
          </label>
          <br>
          <label style="padding-left: 2%">
            <code>{{et[41]}}</code>
            <code id='elemento'>Cabeza</code>
            <code>{{et[45]}}</code>
          </label>
          <br>
          <label style="padding-left: 2%">
            <code>{{et[41]}}</code>
            <code id='elemento'>24</code>
            <code>{{et[45]}}</code>
          </label>
          <br>
          <label style="padding-left: 1%">
            <code>{{et[43]}}</code>
          </label>
          <br>
          <label>
            <code>{{et[42]}}</code>
          </label>
        </p>
        
       <p> <button (click)="mostrarT=true;">Intentalo tu!</button></p> 
        
       <iframe src='https://stackblitz.com/edit/tablahtml?embed=1&file=index.html' id='editor' *ngIf="mostrarT"></iframe>
      </div>
    </div>
    <br>

    <h2 style="color:blue; padding-left: 10%;">Lección 4: Formularios</h2>
    <p>Los formularios son sencillos para poder usarlos necesitamos lo siguiente: </p>
    <p>El elemento HTML <code>{{et[46]}}</code> define un formulario que se utiliza para recopilar la entrada del
      usuario </p>
    <p>El elemento <code>{{et[48]}}</code> es el elemento de formulario más importante.El elemento <code>{{et[48]}}</code>
      se puede mostrar de varias maneras, dependiendo del atributo de tipo. </p>
    <ul>
      <li><code>{{et[44]}}</code>Define un campo de entrada de texto de una línea.</li>
      <li><code>{{et[45]}}</code>Define un botón de opciones (solo permite seleccionar una de muchas opciones)</li>
      <li><code>{{et[46]}}</code>Define un botón de envío (para enviar el formulario)</li>
    </ul>

    <div style="padding-left: 10%; padding-right: 1%">
      <div id="box">
        <p>Al intentarlo observa los pequeños cambios que hemos realizado en cada una de las etiquetas, unas poseen
          <code id='elemento'>name</code>,<code id='elemento'>value</code></p>
          <p> <button (click)="mostrarF=true;">Intentalo tu!</button></p> 
        
          <iframe src='https://stackblitz.com/edit/formularioshtml?embed=1&file=index.html' id='editor' *ngIf="mostrarF"></iframe>
      </div>
    </div>






    <br>
    <div id="center">
      <form name="form" (ngSubmit)="submit()" novalidate>

        <select (change)="onKey($event)" required>
          <option *ngFor="let dato of datos" value="{{dato.name}}">
            {{dato.name}}
          </option>
        </select>




        <button>Validar</button>
      </form>
    </div>

    <app-footer></app-footer>
  </div>

  
  
</div>



