<app-navbar></app-navbar>

<!-- {{ola}}


<app-test></app-test> -->

<!-- {{blitz}} -->
<h2>Bienvenido {{user}}</h2>

<app-carrousel></app-carrousel>
<!-- 
<p>Clase 1: como imprimir hello world</p>
Clase 2 como hcer un boton
clase 3 commo escribir con headers -->
<!-- <img src="/src/assets/images/mejores-lenguajes-de-programacion-2018.jpg"> -->
<!-- 
<div class="second-row">
<iframe src="https://stackblitz.com/edit/angular-hr5jbh?embed=1&file=src/app/app.component.html"></iframe>
</div>
 -->


 <app-footer></app-footer>
