
/*boton anaranjado bonito */
.btn_org {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 75%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2%;
}

.btn_org span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn_org span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn_org:hover span{
  padding-right: 25px;
}

.btn_org:hover span:after {
    opacity: 1;
    right: 0;
}

/*Cuando esta activo*/
.nav >li >a:active{
  background-color: green;


} 

.nav > li > a:hover
{
    text-decoration: none;
    color: red;
    background-color: #cccccc;
}
.nav > li > a:focus{
  color:red;
  background-color:#a6a6a6;
}

.containers {
margin: 0 auto;
padding: 40px;
width: 80%;
color: #333;
background: #419be0;
}

.slick-slide {
text-align: center;
color: #419be0;
background: white;
margin: 10px;
}


<style>
/*estados de textos*/
.error {
color:red;
}

.success {
color: #ff9966;
text-align: center;
font-weight: bold;
font-size: 14px;
}


/* container de textos */

.container {
max-width:400px;
width:100%;
margin:0 auto;
position:relative;
}

/* Cuadrito gris detras de contact y about*/ 

#contact {
background:#F9F9F9;
padding:25px;
margin:50px 30%;
font-size:13px;

}

.footers {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  background-color:#E9ECEF;
  color:blue;
  text-align:center;
}

#about{
background:#F9F9F9;
padding:25px;
margin:50px 30%;
font-size:20%;


}

#contact input[type="text"], #contact input[type="email"],#contact input[type="password"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; 
}



#contact h3 {
color: #F96;
display: block;
font-size: 30px;
font-weight: 400;
}


fieldset {
border: medium none !important;
margin: 0 0 10px;
min-width: 100%;
padding: 0;
width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="password"],#contact input[type="tel"], #contact input[type="url"], #contact textarea {
width:100%;
border:1px solid #CCC;
background:#FFF;
margin:0 0 5px;
padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="password"]:hover,#contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
-webkit-transition:border-color 0.3s ease-in-out;
-moz-transition:border-color 0.3s ease-in-out;
transition:border-color 0.3s ease-in-out;
border:1px solid #AAA;
}

#contact textarea {
height:100px;
max-width:100%;
resize:none;
}

#contact input:focus, #contact textarea:focus {
outline:0;
border:1px solid #999;
}


</style>