
<style>
  .btn_org {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  }

  .btn_org span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }

  .btn_org span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  }

  .btn_org:hover span {
    padding-right: 25px;
  }

  .btn_org:hover span:after {
  opacity: 1;
  right: 0;
  }
  </style>

<style>
        * {
            margin: 0;
            padding: 0;
        }
        html,body {
            height:100%;
        }
        /* Div que engloba el contenido de la página menos el footer */
        #wrapper {
            min-height:100%;
        }
        header {
            display:block;
            background:#ccc;
            padding:10px 0px;
        }
        section {
            overflow: auto;
            /* Definimos el padding inferior:
               50px del pie de pagina mas 10px de separacion
            */
            padding-bottom: 60px;
            /* Definimos un padding superior */
            padding-top:30px;
        }
        
 
        /* Esta clase define la anchura del contenido y la posicion centrada 
           El contenido queda centrado y limitado, pero la cabecera y el pie
           llegan hasta los limites del navegador.
        */
        .define {
            width:960px;
            margin:0 auto;
        }
    </style>